<div class='container' style='padding-top: 100px'>
    <div>
        <div class="form-group">
          <label for="Name">Name</label>
          <input [(ngModel)]="Namee" type="text" id='Name' class="form-control" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <input [(ngModel)]="Addresss" type="text" id='Name' class="form-control" placeholder="Enter Address">
          </div>
          <div class="form-group">
              <label for="Mobile">Mobile</label>
              <input [(ngModel)]="Mobilee" type="text" id='Name' class="form-control" placeholder="Enter Mobile No.">
            </div>
        <button (click)='createUser()'type="submit" class="btn btn-primary">Create!</button>
          </div>
</div>
